/target
/test-output
/bin
debug.log
.idea
.settings
.classpath
*.iml
testGson.json
.DS_Store
*.jar
geckodriver
chromedriver
src/test/resources/env.properties
allure-results
build
SafariDriver.safariextz
.gradle